
@{
    ViewData["Title"] = "Products";
}
<style>
    .th, td{
        font-size: 12px !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <a asp-action="Add" class="btn btn-sm btn-success shadow"><i class="fas fa-plus"></i> Add New</a>
    </div>
</div>
<br />
<table id="myTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Sr</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Name</th>
            <th class="text-center">Active</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody id="tBody"></tbody>
</table>
@section Scripts
{
    <script>
        function LD() {
            $('.loader').show();
            $.ajax({
                type: 'Get',
                url: '/Product/GetAll',
                success: function (data) {
                    if (data.length > 0) {
                        var sr = 0;
                        var active = '';
                        $.each(data, function (i) {
                            sr += 1;
                            var item = data[i];
                            if (item.isActive) {
                                active = '<input type="checkbox" checked disabled />';
                            }
                            else {
                                active = '<input type="checkbox" disabled />';
                            }
                            var row = '<tr>'
                                + '<td class="text-center">' + sr + '</td>'
                                + '<td>' + item.category + '</td>'
                                + '<td>' + item.brand + '</td>'
                                + '<td>' + item.name + '</td>'
                                + '<td class="text-center">' + active + '</td>'
                                + '<td class="text-center"><a href="/Product/Edit?id=' + item.id + '" class="btn btn-sm btn-warning shadow"><i class="fas fa-edit"></i> Edit</a></td>'
                                + '</tr>';
                            $('#tBody').append(row);
                        })
                    }
                    $('#myTable').DataTable({
                        columns: [
                            { "width": "8.33%" },
                            { "width": "8.33%" },
                            { "width": "8.33%" },
                            { "width": "33.33%" },
                            { "width": "8.33%" },
                            { "width": "16.66%" }
                        ]
                    });
                    $('.loader').hide();
                },
                error: function (resp) {
                    $('.loader').hide();
                    DisplayError(resp.responseText)
                }
            })
        }
        $('document').ready(function () {
            LD();
        })
    </script>
}

