@{
    ViewData["Title"] = "Change Password";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form-group">
                <label>Current Password</label>
                <input id="CurrentPassword" type="password" class="form-control form-control-sm" />
            </div>
        <div class="form-group">
            <label>Password</label>
            <input id="Password" type="password" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label>Re-Type Password</label>
            <input id="ConfirmPassword" type="password" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <button id="btnSave" class="btn btn-sm btn-success shadow"><span class="fa fa-key"></span> Change Passowrd</button>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
@section Scripts{
    <script>
        function CP() {
            $('.loader').show();
            var fd = new FormData();
            fd.append("CurrentPassword", $('#CurrentPassword').val());
            fd.append("Password", $('#Password').val());
            fd.append("ConfirmPassword", $('#ConfirmPassword').val());
            $.ajax({
                type: 'Post',
                url: '/Users/ChangePassword',
                data: fd,
                contentType: false,
                processData: false,
                success: function (resp) {
                    window.location.href = resp;
                },
                error: function (resp) {
                    $('.loader').hide();
                    $.alert({
                        title: 'Error',
                        content: resp.responseText,
                        type: 'red',
                        typeAnimated: true,
                        buttons: {
                            GOBack: {
                                text: 'GO Back',
                                btnClass: 'btn-red'
                            }
                        }
                    })
                }
            })
        }
        $('document').ready(function () {

            //Click
            $('#btnSave').click(function () {
                CP();
            })
        })
    </script>
}