
@{
    ViewData["Title"] = "New Account";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-group">
            <label>GAL</label>
            <select id="GALId" class="form-control form-control-sm"></select>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>GAL Code</label>
                    <input id="GALCode" type="text" class="form-control form-control-sm text-center" readonly />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Code</label>
                    <input id="Code" type="text" class="form-control form-control-sm text-center" readonly />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input id="Name" type="text" class="form-control form-control-sm" />
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Op. Balance</label>
                    <input id="Balance" type="text" class="form-control form-control-sm text-center" value="0" />
                </div>
            </div>
            <div class="col-md-6">
                <div style="padding-top: 35px;">
                    <label>
                        <input id="RadioDebit" type="radio" name="BalanceType" value="Debit" checked /> Debit
                    </label>
                    <label>
                        <input id="RadioCredit" type="radio" name="BalanceType" value="Credit" /> Credit
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>
                <input id="IsActive" type="checkbox" checked /> Active
            </label>
        </div>
        <div class="form-group">
            <button id="btnSave" class="btn btn-sm btn-success shadow"><i class="fas fa-save"></i> Save</button>
            <a asp-action="Index" class="btn btn-sm btn-primary shadow"><i class="fas fa-search"></i> Search</a>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
@section Scripts
{
    <script>
        function GC() {
            $.when(GetCode($('#GALCode'), 'Accounts', 'GetGALCode', $('#GALId').val())).done(function () {
                GetCode($('#Code'), 'Accounts', 'GetMaxCode', $('#GALId').val());
            })
        }
        $('document').ready(function () {
            initRSelect($('#GALId'), null, 'GAL', 'Search', 'GAL');
            GC();
            setTimeout(function () { $('#GALId').select2('open') }, 500);

            //Focus
            $('#Balance').focus(function () {
                $(this).select();
            })

            //click
            $('#btnSave').click(function () {
                var fd = new FormData();
                fd.append('GALId', $('#GALId').val());
                fd.append('Name', $('#Name').val());
                fd.append('Balance', $('#Balance').val());
                fd.append('Type', $('input[name="BalanceType"]:checked').val());
                fd.append('IsActive', $('#IsActive').is(':checked'));
                GenAE(fd, 'Accounts', 'Add');
            })

            //keydown
            $('#Name').on('keydown', function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $('#Balance').focus();
                }
            })
            $('#Balance').on('keydown', function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $('#btnSave').focus();
                }
            })

            //change
            $('#GALId').on('select2:close', function () {
                if (parseInt($(this).val()) > 0) {
                    GC();
                    $('#Name').focus();
                }
            })
        })
    </script>
}


