@{
    ViewData["Title"] = "New Car Brand";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-group">
            <label>Car</label>
            <select id="CarId" class="form-control form-control-sm"></select>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input id="Name" type="text" class="form-control form-control-sm" />
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label>Model</label>
                    <input id="Model" type="text" class="form-control form-control-sm" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Year</label>
                    <input id="Year" type="text" class="form-control form-control-sm" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id="btnSave" class="btn btn-sm btn-success shadow"><i class="fas fa-save"></i> Save</button>
            <a asp-action="Index" class="btn btn-sm btn-primary shadow"><i class="fas fa-search"></i> Search</a>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
@section Scripts
{
    <script>
        $('document').ready(function () {
            initRSelect($('#CarId'), null, 'Car', 'Search', 'Car');

            //click
            $('#btnSave').click(function () {
                var fd = new FormData();
                fd.append('CarId', $('#CarId').val());
                fd.append('Name', $('#Name').val());
                fd.append('Model', $('#Model').val());
                fd.append('Year', $('#Year').val());
                GenAE(fd, 'CarBrand', 'Add');
            })

            //Keydown
            $('#Name').on('keydown', function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $('#Model').focus();
                }
            })
            $('#Model').on('keydown', function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $('#Year').focus();
                }
            })
            $('#Year').on('keydown', function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $('#btnSave').focus();
                }
            })

            //select2
            $('#CarId').on('select2:close', function () {
                var id = $(this).val();
                if (id > 0) {
                    $('#Name').focus();
                }
            })
        })
    </script>
}


